/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #eeeeee;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  min-height: 60px;
}
#footer {
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}

.container .credit {
  margin: 20px 0;
}

.header {
  padding-top: 30px;
}
.header .header-banner {
  width: 100%;
}

.siteblock {
  background-color: #FFFFFF;
  margin-top: 30px;
  padding: 15px 20px;
}

#footer {
  background-color: #63a8d9;
  color: #FFFFFF;
}

#footer .row {
  padding-top:10px;
}

#footer h4 {
  color: #df1441;
}

#footer a {
  color: #FFFFFF;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: none;
  color: #2c3e50;
}

h2, h3, h4, h5 {
  margin: 0 0 15px;
  color: #63a8d9;
}

h5 {
  color: #222;
}

/* Partners */
.partners-block {
  text-align: center;
}
.partners-block a {
  display: block;
  margin: 20px auto;
  width: 80%;
  transition: transform .2s ease-in;
  -webkit-transition: transform .2s ease-in;
  -moz-transition: transform .2s ease-in;
}
.partners-block a:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
}
.partners-block a img {
  max-width: 260px;
  width: 100%;
}

/* Logo */
.logo {
  margin: 0;
}

/* Meetup */
.meetup-block {
  text-align: center;
  margin-top: 15px;
}
.meetup-iframe {
  display: inline-block;
  width: 227px;
  height: 450px;
  margin: 20px 0;
}

/* Content format */
.more-posts {
  font-size: 1.4em;
  text-align: center;
  margin: 10px 0 15px;
}

/* Twitter */
.twitter-tweet {
    margin: auto;
}
